.about_hero{
    &_item{
        width: 100%;
        margin-top: 80px;
        &_img{
            width: 100%;
            margin-top: 30px;
        }
    }
    &_title{
        width: 100%;
        margin: 30px 0;
        &_cards{
            display: grid;
            grid-template-columns: 30% 35% 35%;
            &_card{
                border-right: 1px solid;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                justify-content: space-between;
                &:nth-child(3){
                    border: none;
                }
                &_desc{
                    font-size: 35px;
                    color: rgba(24, 74, 251, 1);
                }
                &_info{
                    font-size: 16px;
                    color: rgba(24, 74, 251, 1);
                }
            }
        }
    }
    &_business_cards{
        display: grid;
        gap: 15px;
        &_card{
            width: 100%;
            padding: 50px;
            border: 1px solid rgba(204, 204, 204, 1);
            border-radius: 10px;
            &_img{
                width: 100%;
            }
        }
    }
    &_business_desc{
        &_item{
            margin: 15px 0;
        }
        &_btn{
            width: 100%;
            padding: 5px 0;
            background-color: transparent;
            border: 1.5px solid rgba(204, 204, 204, 1);
            border-radius: 50px;
            margin-bottom: 70px;
        }
    }
    &_movements{
        &_title{
            display: grid;
            gap: 15px;
            margin: 20px 0 80px;
        }
    }
}
@media (min-width: 786px) {
    .about_hero{
        &_item{
            text-align: right;
            margin-top: 90px;
            &_img{
                width: 70%;
                margin-top: 30px;
            }
        }
        &_title{
            display: grid;
            grid-template-columns: 70%;
            justify-content: right;
            &_cards{
                display: grid;
                grid-template-columns: 30% 40% 30%;
            }
        }
        &_business_cards{
            display: grid;
            grid-template-columns: 34% 34%;
            justify-content: right;
        }
        &_business_desc{
            display: grid;
            grid-template-columns: 53% 15%;
            gap: 15px;
            align-items: center;
            justify-content: right;
        }
        &_movements{
            width: 100%;
            display: flex;
            justify-content: right;
            &_title{
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }
}