*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 85%;
    margin: 15px auto;
}
button{
    cursor: pointer;
    border: none;
    font-size: 18px;
}
a{
    color: #000;
}